/* start globla font css */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* end global font css */

/* Start Global CSS */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
body{
   font-family: "Poppins", sans-serif;
   font-size: 16px;
   font-weight: 600px;
   background: #000;
  }
  ul,li{
   font-family: "Poppins", sans-serif;
   font-size: 16px;
   font-weight: 600px;
   color: #fff;
   text-decoration: none;
   line-height: 30px;
  }
  ul,li:hover{
    color: #000;
    transition: 1s ease all;
   }
  p{
   font-family: "Poppins", sans-serif;
   font-size: 16px;
   font-weight: 600px;
   color: #000;
   text-align: center;
  }
  h1, h2, h3, h4, h5, h6{
    font-family: "Lato", sans-serif;
    font-size: 40px;
    color: #FF2F75;
    text-align: center;
  }
  button{
    color: #fff;
    background-color:#FF2F75;
  }
  button:hover{
    background-color:#000;
  }
  button a{
    color: #fff;
    text-decoration: none;
  }
  /* End Global CSS */


  .logo{
    height: 120px;
    width: 120px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* Start Header CSS */
  header{
    background-color: #FF2F75;
  }
  .nav-item .nav-link{
    color: #fff!important;
    font-weight: 700px;
    text-transform: uppercase;
    transition: 1s ease all;
  }
  .nav-item .nav-link:hover{
    color: #000 !important;
  }
  header .btn{
    background: #fff;
    padding: 15px 30px;
    border-radius: 30px;
    color: #FF2F75;
  }
  header .btn:hover{
    background: #000;
    padding: 15px 30px;
    border-radius: 25px;
    color: #fff;
    transition: 1s eae all;
  }
  button.navbar-toggler {
    background: #fff;
    padding: 10px;
  }
  /* End Header CSS */

  /* Start HomePage First Section CSS */
  .carousel-item img{
    height: 80vh;
    width: 100%;
    object-fit: cover;
    opacity: .3;
  }
  .carousel-item h5{
    text-align: center;
    color: #fff;
    font-size: 100px;
    z-index: 1000;
    margin-bottom: 30px;
  }
  .carousel-item p{
    text-align: center;
    margin-bottom: 30px;
    color: #fff;
    font-size: 20px
  }
    .carousel-item .slider-button{
    background-color: #FF2F75;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 30px;
    padding: 15px 35px;
    margin-bottom: 200px;
  }
  .carousel-item .slider-button:hover{
    color:#FF2F75 !important;
    background-color: #fff;
    transition: 1s ease all;
  }
  .carousel-item .slider-button a{
    color: #fff;
    text-decoration: none;
  }
  .carousel-item .slider-button a:hover{
    color: #FF2F75;
  }
  button.carousel-control-prev {
    background: none;
  }
  button.carousel-control-next {
    background: none;
  }

  /* End HomePage First Section CSS */

  /* Homepage  Section Start*/
  .second-section{
    background: #fff;
    padding: 100px 0;
  }
  .second-section h2{
    color: #FF2F75;
    font-size: 50px;
    text-align: left;
  }
  .second-section h5{
    color: #FF2F75;
    font-size: 15px;
    text-transform: uppercase;
    text-align: left;
  }
  .second-section p{
    color: #000;
    font-size: 16px;
    text-align: left;
  }
  .second-section img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.89) 0px 3px 8px;
    transition: 1s ease all;
  }
  .second-section img:hover{
    margin-top: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }
  .second-section button{
    color: #fff;
    background-color: #FF2F75;
    text-decoration: none;
    border-radius: 30px;
    padding: 15px 35px;
  }
  .second-section button:hover{
    background-color: #000;
    padding: 15px 35px;
  }
  .second-section a{
    color: #fff;
    text-decoration: none;  
  }
  /* Homepage Second Section End*/

  /* Homepage Third Section Start */
  .third-section{
    background-color: #FF2F75;
    padding: 100px 0px;
    align-items: stretch;
  }
  .third-section h2{
    text-align: center;
    font-size: 50px; 
    margin-bottom: 60px;
  }
  .third-section .image-container img{
    height: 400px;
    width: 100%;
    object-fit: cover;
    padding: 0;
    margin: 0;
  }
  .image-container{
    position: relative;
    display: inline-block;
  }

  .third-section .image-container h4{
    position: absolute;
    bottom: -20px; 
    right: 10px;
    background: #fff;
    font-size: 15px;
    text-transform: uppercase;
    color: #000;
    padding: 30px;
    width: 80%;
  }
 
  /* Homepage Third Section End */


  /* Homepage Fourht Section Start */
  .fourth-section{
    background-color: #fff;
    padding: 100px 0px;
  }
  .fourth-section h2{
    color: #FF2F75;
    font-size: 50px;
    text-align: left;
  }
  .fourth-section h5{
    color: #FF2F75;
    font-size: 15px;
    text-align: left;
    text-transform: uppercase;
  }
  .fourth-section p{
    color: #000;
    font-size: 16px;
    text-align: left;
    padding-right: 50px;
  }
  form{
    background: #FF2F75;
    padding: 40px;
    border-radius: 8px;
  }
  form label{
    font-size: 15px;
    color: #fff;
  }
  button.btn.form-button {
    background: #fff;
    color: #FF2F75;
    padding: 15px 35px;
    border-radius: 30px;
  }
  button.btn.form-button:hover{
    background: #FF2F75;
    color: #fff;
    border: 2px solid #fff;
    padding: 15px 35px;
    border-radius: 30px;
  }

  /* Homepage Fifth Section Start */
  .fifth-section{
    background: url(img/Physical\ Therapy.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    object-fit: cover;
    background-color: #fff;
    padding: 100px 0px;
  }
  .fifth-section h2{
    text-align: center;
    font-size: 50px; 
    margin-bottom: 60px;
  }
  .modal-body{
    background: #FF2F75;
  }
  .subscribe-main-button{
    background: #FF2F75;
    color: #fff;
    border: 2px solid #FF2F75;
    padding: 15px 35px;
    border-radius: 30px;
    display: block;
    margin: 0 auto;
    text-align: center;
  }
  .subscribe-main-button:hover{
    background: #fff;
    color: #FF2F75;
    border: 2px solid #FF2F75;
  }
  .modal-footer .subscribe-button{
    background: #FF2F75;
    color: #fff;
    border: 2px solid #fff;
    padding: 15px 35px;
    border-radius: 30px;
  }
  .modal-footer .close-button:hover{
    background: #fff;
    color: #FF2F75;
    border: 2px solid #FF2F75;
  }
  .modal-footer .close-button{
    background: #FF2F75;
    color: #fff;
    border: 2px solid #fff;
    padding: 15px 35px;
    border-radius: 30px;
  }
  .modal-footer .subscribe-button:hover{
    background: #fff;
    color: #FF2F75;
    border: 2px solid #FF2F75;
  }
  button.btn-close {
    border: 2px solid  #FF2F75;
    color: #fff !important;
  }
   button.btn-close:hover{
    background: transparent;
    color: #000 !important;
   }
  /* Homepage Fifth Section End */

  /* Start About Us First Section CSS*/
  .about-us-first{
    background: url(img/Physical\ Therapy.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    object-fit: cover;
    padding: 100px 0px;
    height: 50vh;
    position: relative;
  }
  .about-us-first h2{
    position: absolute;
    top: 500;
    bottom: 0;
    right: 0;
    left: 0;
    background: #fff;
    color:#FF2F75;
    padding: 30px;
    width: 45%;
    height: 250px;
    margin: 0 auto;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 50px; 
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
  }
  .about-us-first ul {
    position: absolute;
    top: 1;
    bottom: 0;
    right: 0;
    left: 0;
    color:#FF2F75 ;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 0px 30px;
    /* gap: 3px !important; */
    /* z-index: 999; */
  }

  .about-us-first ul li{
    color:#FF2F75 ;
  }
  /* End About Us First Section CSS*/

  /* Start About Us Second Section CSS */
  .about-us-second{
    padding: 100px 0px;
    background: #fff;
  }
  .about-us-second .card img{
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
  .about-us-second h2{
    background: #fff;
    color:#FF2F75;
    font-size: 50px; 
    text-align: center;
    margin-bottom: 70px;
  }
  .about-us-second .card-body{
    background: #FF2F75;
  }
  .about-us-second .card-body h5{
    color: #fff;
    font-size: 35px;
    text-align: left;
  }
  .about-us-second .card-body .card-text{
    color: #fff;
    font-size: 16px;
    text-align: left;
  }
    .about-us-second li.list-group-item {
      background: #FF2F75;
      color: #fff;
  }
    
  .about-us-second .card-body .card-link{
    background: #fff;
    font-size: 16px;
    text-decoration: none;
    padding: 15px 30px;
    color:#FF2F75;
    border-radius: 30px;
  }
  .about-us-second-button{
    background: #FF2F75;
    color: #fff;
    border: 2px solid #FF2F75;
    padding: 15px 35px;
    border-radius: 30px;
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-top: 30px;
  }
  .about-us-second-button:hover{
    background: #FF2F75;
    color: #FF2F75 !important;
    border: 2px solid #FF2F75;
  }
  /* End About Us Second Section CSS */


  /* Start About Us Third Section CSS */
  .third-section{
    background: url(img/Hospital\ Discharge.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    object-fit: cover;
    padding: 100px 0px;
  }
  .third-section h5{
    text-align: left;
  }
  .third-section h2{
    text-align: left;
    margin-bottom: 10;
    padding: 0;
  }
  .third-section p{
    text-align: left;
    color: #fff;
  }
  /* End About Us Third Section CSS */
  
  /* Start Footer CSS */
  footer{
    background-color: #FF2F75;
    padding: 50px 0px;
  }
  footer h1, h2, h3, h4, h5, h6{
    color: #fff;
    text-align: left;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  footer ul li a{
    color: #fff;
    text-align: left;
    line-height: 30px;
    text-decoration: none;
  }
  footer ul li a:hover{
    color: #000;
    transition: 1s ease all;
  }
  footer .upperfooter{
    text-align: left;
    color: #fff;
  }
  footer .top-footer{
    border-bottom: 1px solid #fff;
    padding-bottom: 30px;
  }

 